body{
  background-image: url(img/luis-llerena-16146-compressor.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  background: none;
  text-shadow: 1px 1px 3px #000000;
}

img:hover {
  height: 3.5%;
  width: 3.5%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
